p {
  /* margin-top: 5%; */
  text-align: center;
}

img.logo {
  display: flex;
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.logo {
  margin-top: 20%;
}

.flex-square.shadow {
  margin-top: 20%;
  position: relative;
}

.flex-square {
  background-color: #c4dbe0;
  margin: auto;
  margin-top: 20%;
  height: 30vh;
  width: 20rem;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
}
